.post {
  display: flex;
  align-items: flex-start;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--twitter-background);
}

.post__body {
  flex: 1;

  padding: 10px 20px 10px 0px;
}

.post__body > img {
  border-radius: 10px;
}

.post__badge {
  color: var(--twitter-color);
  font-size: 15px !important;
}

.post__headerText {
  margin-top: 10px;
  font-size: 16px;
}

.post__headerSpecial {
  color: grey;
  font-weight: 600;
}

.post__headerDescription {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

.post__avatar {
  padding: 20px;
}

.post__avatar > .avatar {
  height: 45px;
  width: 45px;
}

.post__footer {
  margin-right: 40px;
  margin-top: 20px;
  @media screen and(max-width:768px) {
    margin-right: 20px;
  }
}

.post__footerIcons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.post__tweetTime > p {
  justify-content: space-between;
  font-size: 12px;
  font-weight: 500;
  color: grey;
}
